.quote_box {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: darkgray;
  color: white;
  text-align: center;
  border-radius: 16px;
  box-shadow: 5px 5px 10px dimgray;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(15deg);
  padding: 20px;
  font-style: italic;
}
